<?php $this->layout('template', ['title' => '个人中心', 'server' => $server, 'item' => $item, 'cartCount' => $cartCount]); ?>

<div class="weui-panel weui-panel_access">
    <div class="weui-panel__bd">
        <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
            <div class="weui-media-box__hd" style="width:66px;height:66px;">
                <img class="weui-media-box__thumb" style="border-radius:33px;" src="<?php echo ($user['image'] == '' ? $default_user_image : $user['image']); ?>" alt="">
            </div>
            <div class="weui-media-box__bd">
                <h4 class="weui-media-box__title"><?php echo $user['nickname']; ?></h4>
                <?php if ($user['telephone'] != ''): ?>
                <p class="weui-media-box__desc"><?php echo $user['telephone']; ?></p>
                <?php else: ?>
                <p class="weui-media-box__desc">未绑定手机，可能无法接收重要通知！</p>
                <?php endif; ?>
                <ul class="weui-media-box__info" style="margin-top:5px;margin-bottom:0;">
                    <li class="weui-media-box__info__meta">余额：<?php echo $user['transaction']; ?></li>
                    <li class="weui-media-box__info__meta">佣金：<?php echo $user['commission']; ?></li>
                </ul>
            </div>
        </a>
    </div>
</div>

<div class="weui-panel">
    <div class="weui-panel__hd">个人信息</div>
    <div class="weui-panel__bd">
        <div class="weui-media-box weui-media-box_small-appmsg">
            <div class="weui-cells">
                <!--<a class="weui-cell weui-cell_access" href="/account/info.html">
                    <div class="weui-cell__bd weui-cell_primary">
                        <p>完善资料</p>
                    </div>
                    <span class="weui-cell__ft"></span>
                </a>-->
                <a class="weui-cell weui-cell_access" href="/account/phone.html">
                    <div class="weui-cell__bd weui-cell_primary">
                        <p>绑定手机</p>
                    </div>
                    <span class="weui-cell__ft"></span>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="weui-panel">
    <div class="weui-panel__hd">订单信息</div>
    <div class="weui-panel__bd">
        <div class="weui-media-box weui-media-box_small-appmsg">
            <div class="weui-cells">
                <a class="weui-cell weui-cell_access" href="/account/recharge.html">
                    <div class="weui-cell__bd weui-cell_primary">
                        <p>余额充值</p>
                    </div>
                    <span class="weui-cell__ft"></span>
                </a>
                <a class="weui-cell weui-cell_access" href="account/transaction.html">
                    <div class="weui-cell__bd weui-cell_primary">
                        <p>我的余额</p>
                    </div>
                    <span class="weui-cell__ft"></span>
                </a>
                <a class="weui-cell weui-cell_access" href="/account/order.html">
                    <div class="weui-cell__bd weui-cell_primary">
                        <p>我的订单</p>
                    </div>
                    <span class="weui-cell__ft"></span>
                </a>
                <a class="weui-cell weui-cell_access" href="/ticket.html">
                    <div class="weui-cell__bd weui-cell_primary">
                        <p>我的票码</p>
                    </div>
                    <span class="weui-cell__ft"></span>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="weui-panel">
    <div class="weui-panel__hd">推荐信息</div>
    <div class="weui-panel__bd">
        <div class="weui-media-box weui-media-box_small-appmsg">
            <div class="weui-cells">
                <a class="weui-cell weui-cell_access" href="/recommend/share/<?php echo $_SESSION['uuid']; ?>.html?utm_source=<?php echo $_SESSION['uuid']; ?>">
                    <div class="weui-cell__bd weui-cell_primary">
                        <p>分享</p>
                    </div>
                    <span class="weui-cell__ft"></span>
                </a>
                <a class="weui-cell weui-cell_access" href="/recommend/user.html">
                    <div class="weui-cell__bd weui-cell_primary">
                        <p>我的推荐</p>
                    </div>
                    <span class="weui-cell__ft"></span>
                </a>
                <a class="weui-cell weui-cell_access" href="/recommend/income.html">
                    <div class="weui-cell__bd weui-cell_primary">
                        <p>我的收益</p>
                    </div>
                    <span class="weui-cell__ft"></span>
                </a>
                <a class="weui-cell weui-cell_access" href="/recommend/take.html">
                    <div class="weui-cell__bd weui-cell_primary">
                        <p>提现</p>
                    </div>
                    <span class="weui-cell__ft"></span>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="weui-panel">
    <div class="weui-panel__bd">
        <div class="weui-media-box weui-media-box_small-appmsg">
            <div class="weui-cells">
                <a class="weui-cell weui-cell_access" href="/account/logout">
                    <div class="weui-cell__bd weui-cell_primary">
                        <p>退出登录</p>
                    </div>
                    <span class="weui-cell__ft"></span>
                </a>
            </div>
        </div>
    </div>
</div>