<?php $this->layout('template', ['title' => '购物车', 'server' => $server, 'item' => $item, 'cartCount' => $cartCount, 'scripts' => $scripts]); ?>


<?php if ( empty($products) ): ?>
<div class="weui-msg">
    <div class="weui-msg__icon-area"><i class="weui-icon-waiting weui-icon_msg"></i></div>
    <div class="weui-msg__text-area">
        <h2 class="weui-msg__title">您的购物车空空如也</h2>
    </div>
    <div class="weui-msg__opr-area">
        <p class="weui-btn-area">
            <a href="/index.html" class="weui-btn weui-btn_primary">继续选购</a>
        </p>
    </div>
</div>
<?php else: ?>
<div class="weui-panel weui-panel_access">
    <div class="weui-panel__bd">
        <?php foreach ($products as $key => $product): ?>
        <a href="<?php echo $product['view']; ?>" class="weui-media-box weui-media-box_appmsg">
            <div class="weui-media-box__hd">
                <img class="weui-media-box__thumb" src="<?php echo $product['cover']; ?>" alt="<?php echo $product['name']; ?>">
            </div>
            <div class="weui-media-box__bd">
                <h4 class="weui-media-box__title"><?php echo $product['name']; ?><span class="cart-remove" title="<?php echo $key; ?>">移除</span></h4>
                <p class="weui-media-box__desc">
                <?php foreach($product['text'] as $text): ?>
                    <?php echo $text; ?>&nbsp;&nbsp;
                <?php endforeach; ?>
                </p>
                <h5 class="weui-media-box__desc red">价格：<span class="f14">¥</span><?php echo $product['price']; ?></h5>
                <p class="weui-media-box__desc">数量：<?php echo $product['quantity']; ?></p>
            </div>
        </a>
        <?php endforeach; ?>
        <div class="weui-form-preview">
            <div class="weui-form-preview__bd">
                <p>
                    <label class="weui-form-preview__label">商品金额</label>
                    <span class="weui-form-preview__value"><span class="f14">¥</span><?php echo $total; ?></span>
                </p>
                <p>
                    <label class="weui-form-preview__label">优惠金额</label>
                    <span class="weui-form-preview__value"><span class="f14">¥</span><?php echo $discount; ?></span>
                </p>
            </div>
            <div class="weui-form-preview__hd">
                <label class="weui-form-preview__label">实际支付金额</label>
                <em class="weui-form-preview__value red"><span class="f16">¥</span><?php echo $pay; ?></em>
            </div>
            <div class="weui-form-preview__ft">
                <a class="weui-form-preview__btn weui-form-preview__btn_default" href="../index.html">继续选购</a>
                <button class="weui-form-preview__btn weui-form-preview__btn_primary" id="checkout">提交订单</button>
            </div>
        </div>
    </div>
</div>
 <?php endif; ?>

<!--BEGIN actionSheet-->
<div>
    <div class="weui-mask" id="iosMask" style="display: none"></div>
    <div class="weui-actionsheet" id="iosActionsheet">
        <div class="weui-actionsheet__menu">
            <?php if ($is_weixin): ?>
            <div class="weui-actionsheet__cell" style="padding-top:20px;" id="weixinPay">
               <img src="https://act.weixin.qq.com/static/cdn/img/wepayui/0.1.1/wepay_logo_default_green_500x126.png" alt="" width="160" height="40">
            </div>
            <?php else: ?>
            <div class="weui-actionsheet__cell" style="padding-top:20px;" id="zhiPay">
               <img src="<?php echo $server . 'dist/img/zhi.png'; ?>" alt="" width="120" height="54">
            </div>
            <?php endif; ?>
            <!--<div class="weui-actionsheet__cell">
               请在微信或者支付宝内打开
            </div>-->
        </div>
        <div class="weui-actionsheet__action">
            <div class="weui-actionsheet__cell" id="iosActionsheetCancel">取消</div>
        </div>
    </div>
</div>
<!--END actionSheet-->

<div id="pay-back" style="display: none;">
    <div class="weui-mask"></div>
    <div class="weui-dialog">
        <!--<div class="weui-dialog__hd"><strong class="weui-dialog__title">弹窗标题</strong></div>-->
        <div class="weui-dialog__bd">您已经完成支付了吗？</div>
        <div class="weui-dialog__ft">
            <a href="javascript:" id="pay-again" class="weui-dialog__btn weui-dialog__btn_default">重新支付</a>
            <a href="../success.html" class="weui-dialog__btn weui-dialog__btn_primary">支付成功</a>
        </div>
    </div>
</div>



