<?php $this->layout('template', ['title' => '购物车', 'server' => $server, 'cartCount' => $cartCount, 'scripts' => $scripts]); ?>

<div class="weui-panel weui-panel_access">
    <div class="weui-panel__bd">
        <?php if ( empty($products) ): ?>
        <h1>购物车为空！</h1>
        <?php else: ?>
        <!--<button class="weui-btn weui-btn_plain-primary" id="cart-clean">清空购物车</button>-->
        <?php foreach ($products as $key => $product): ?>
        <div class="weui-media-box weui-media-box_appmsg">
            <div class="weui-media-box__hd">
                <img class="weui-media-box__thumb" src="<?php echo $product['cover']; ?>" alt="<?php echo $product['name']; ?>">
            </div>
            <div class="weui-media-box__bd">
                <h4 class="weui-media-box__title"><?php echo $product['name']; ?></h4>
                <?php foreach($product['text'] as $text): ?>
                <button class="weui-btn weui-btn_mini weui-btn_plain-primary weui-btn_tag"><?php echo $text; ?></button>
                <?php endforeach; ?>
                <h5 class="weui-media-box__desc red">价格：<span class="f14">¥</span><?php echo $product['price']; ?></h5>
                <p class="weui-media-box__desc">数量：<?php echo $product['quantity']; ?></p>
            </div>
            <div class="weui-media-box__bd" style="text-align: right;">
                <i class="weui-icon-cancel cart-remove" title="<?php echo $key; ?>"></i>
            </div>

        </div>
        <?php endforeach; ?>

<div class="weui-form-preview">

    <div class="weui-form-preview__bd">
        <p>
            <label class="weui-form-preview__label">商品金额</label>
            <span class="weui-form-preview__value"><span class="f14">¥</span><?php echo $total; ?></span>
        </p>
        <p>
            <label class="weui-form-preview__label">优惠金额</label>
            <span class="weui-form-preview__value"><span class="f14">¥</span><?php echo $discount; ?></span>
        </p>
    </div>
    <div class="weui-form-preview__hd">
        <label class="weui-form-preview__label">实际支付金额</label>
        <em class="weui-form-preview__value red"><span class="f16">¥</span><?php echo $pay; ?></em>
    </div>

    <div class="weui-form-preview__ft">
        <a class="weui-form-preview__btn weui-form-preview__btn_default" href="../index.html">继续购物</a>
        <button class="weui-form-preview__btn weui-form-preview__btn_primary" id="checkout">提交订单</button>
    </div>

</div>


        <?php endif; ?>
    </div>
</div>


<!--BEGIN actionSheet-->
<div>
    <div class="weui-mask" id="iosMask" style="display: none"></div>
    <div class="weui-actionsheet" id="iosActionsheet">
        <div class="weui-actionsheet__menu">
            <div class="weui-actionsheet__cell" style="padding-top:20px;" id="weixinPay">
               <img src="https://act.weixin.qq.com/static/cdn/img/wepayui/0.1.1/wepay_logo_default_green_500x126.png" alt="" width="160" height="40">
            </div>
        </div>
        <div class="weui-actionsheet__action">
            <div class="weui-actionsheet__cell" id="iosActionsheetCancel">取消</div>
        </div>
    </div>
</div>
<!--END actionSheet-->



