<?php $this->layout('template', ['title' => '完善资料', 'server' => $server, 'item' => $item, 'cartCount' => $cartCount, 'scripts' => $scripts]); ?>


<div class="weui-cells__title">银行卡信息</div>
<form class="weui-cells weui-cells_form" id="form" style="margin-top:20px;">
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">姓名</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="text" required="" maxlength="32" placeholder="请输入你的姓名">
        </div>
        <div class="weui-cell__ft">
            <i class="weui-icon-warn"></i>
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">卡号</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="text" required="" maxlength="32" placeholder="请输入你的姓名">
        </div>
        <div class="weui-cell__ft">
            <i class="weui-icon-warn"></i>
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">银行名称</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="text" required="" maxlength="32" placeholder="请输入你的姓名">
        </div>
        <div class="weui-cell__ft">
            <i class="weui-icon-warn"></i>
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">开户行</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="text" required="" maxlength="32" placeholder="请输入你的姓名">
        </div>
        <div class="weui-cell__ft">
            <i class="weui-icon-warn"></i>
        </div>
    </div>
</form>

<!--<div class="weui-cells__title">银行卡信息</div>-->

<div class="weui-btn-area">
    <a href="javascript:" class="weui-btn weui-btn_primary">确定</a>
</div>