<?php $this->layout('template', ['title' => '提现规则', 'server' => $server, 'item' => $item, 'cartCount' => $cartCount]); ?>

<article class="weui-article">
    <h1>推广收益提现规则</h1>
    <section>
        <h2 class="title">基础规则</h2>
        <section>
            <!--<h3>1.1 节标题</h3>-->
            <p>1. 推广用户必须完善个人信息、银行信息并且通过审核才能提现；</p>
            <p>2. 每次提现金额必须为 100 的整数倍，最小提现金额为 100 元；</p>
            <p>3. 从提交提现申请日开始，5 日内完成审核，30 日内完成打款；</p>
        </section>
        <section>
            <h3>代扣税规则</h3>
            <p>1. 个人所得税应纳税所得额计算标准：劳务报酬所得以个人每次取得的收入，定额或定率减除规定费用后的余额为应纳税所得额。每次收入不超过4000元的，定额减除费用800元，每次收入在4000元以上的，定率减除20%的费用。</p>
            <p>2. 税率标准：</p>
            <p>（1） 纳税人每次应税务报酬不超过20000元时，适用的个税所得税税率为国家统一的税率；</p>
            <p>（2） 如果纳税人的每次应税劳务报酬所得超过20000元，应实行加成征税，其应纳税总额应依据相应税率和速算扣除数计算。劳务报酬所得加成征税适用税率。</p>
            <p>一次性收入X < 4000元：所得税=（X-800）*20%</p>
            <p>一次性收入4000元 < X =< 20000元：所得税=X *（1-20%）*20%</p>
            <p>一次性收入20000元 < X =< 50000元：所得税=X *（1-20%）*30%-2000元</p>
            <p>一次性收入 X > 50000元以上：所得税=50000元*（1-20%）*40%-7000元</p>
            <p>注：税前佣金<=800元，将免征劳务费个人所得税。</p>
        </section>
    </section>
</article>

