<?php $this->layout('template', ['title' => '购买成功', 'server' => $server, 'item' => $item, 'cartCount' => $cartCount]); ?>

<div class="weui-msg">
    <div class="weui-msg__icon-area"><i class="weui-icon-success weui-icon_msg"></i></div>
    <div class="weui-msg__text-area">
        <h2 class="weui-msg__title">购买成功</h2>
        <p class="weui-msg__desc">
            您已经购买成功，我们期待您的到来。
        </p>
    </div>
    <div class="weui-msg__opr-area">
        <p class="weui-btn-area">
            <a href="../ticket.html" class="weui-btn weui-btn_primary">查看票码</a>
            <a href="../index.html" class="weui-btn weui-btn_default">继续选购</a>
        </p>
    </div>
</div>