<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
        <title><?php echo $this->e($title); ?></title>
        <link href="//res.wx.qq.com/open/libs/weui/1.1.2/weui.min.css" rel="stylesheet">
        <link href="<?php echo $server . 'dist/css/style.css?666'; ?>" rel="stylesheet">
    </head>
    <body>
        <div class="weui-tab">
            <div class="weui-tab__panel">
                <?php echo $this->section('content'); ?>
            </div>
            <div class="weui-tabbar">
                <a href="<?php echo $server . 'index.html'; ?>" class="weui-tabbar__item <?php echo ($item == 'discover' ? 'weui-bar__item_on' : ''); ?>">
                    <p class="weui-tabbar__label nav-item-discover nav-item">所有项目</p>
                </a>
                <a href="<?php echo $server . 'cart.html'; ?>" class="weui-tabbar__item <?php echo ($item == 'cart' ? 'weui-bar__item_on' : ''); ?>" style="position:relative;">
                    <span class="weui-badge cart-count" id="cart-count" style="display:<?php echo ($cartCount ? 'block' : 'none'); ?>"><?php echo $cartCount; ?></span>
                    <p class="weui-tabbar__label nav-item nav-item-cart">购物车</p>
                </a>
                <a href="<?php echo $server . 'ticket.html'; ?>" class="weui-tabbar__item <?php echo ($item == 'ticket' ? 'weui-bar__item_on' : ''); ?>">
                    <p class="weui-tabbar__label nav-item nav-item-ticket">我的票码</p>
                </a>
                <a href="<?php echo $server . 'account.html'; ?>" class="weui-tabbar__item <?php echo ($item == 'account' ? 'weui-bar__item_on' : ''); ?>">
                    <p class="weui-tabbar__label nav-item nav-item-account">个人中心</p>
                </a>
            </div>
        </div>

		<?php if(isset($scripts)): ?>
			<?php foreach ($scripts as $script): ?>
			<script src="<?php echo $script; ?>"></script>
			<?php endforeach; ?>
		<?php endif; ?>
    </body>
</html>