<?php $this->layout('template', ['title' => '我的票码', 'server' => $server, 'item' => $item, 'cartCount' => $cartCount, 'scripts' => $scripts]); ?>

<div class="weui-tab">
    <div class="weui-navbar">
        <div class="weui-navbar__item weui-bar__item_on">
            待使用
        </div>
        <div class="weui-navbar__item">
            已使用
        </div>
    </div>
    <div class="weui-tab__panel">
        <div class="weui-tab__panel_page">
            <?php if (empty($ticket_open)): ?>
            <h1>没有待使用的票</h1>
            <?php else: ?>
            <?php foreach($ticket_open as $ticket): ?>
            <div class="weui-panel weui-panel_access" style="margin-top:20px;">
                <div class="weui-panel__bd">
                    <a href="/ticket/view/<?php echo $ticket['id'] ?>.html" class="weui-media-box weui-media-box_appmsg">
                        <div class="weui-media-box__bd">
                            <h4 class="weui-media-box__title"><?php echo $ticket['product_name']; ?></h4>
                            <h5 class="weui-media-box__desc"><?php echo $ticket['product_price']; ?></h5>
                            <h5 class="weui-media-box__desc"><?php echo $ticket['code']; ?></h5>
                        </div>
                    </a>
                </div>
            </div>
            <?php endforeach; ?>
            <?php endif; ?>

        </div>
        <div class="weui-tab__panel_page" style="display:none">
            <?php if (empty($ticket_close)): ?>
            <h1>没有已使用的票</h1>
            <?php else: ?>
            <?php foreach($ticket_close as $ticket): ?>
            <div class="weui-panel weui-panel_access" style="margin-top:20px;">
                <div class="weui-panel__bd">
                    <a href="javascript:" class="weui-media-box weui-media-box_appmsg">
                        <div class="weui-media-box__bd">
                            <h4 class="weui-media-box__title"><?php echo $ticket['product_name']; ?></h4>
                            <h5 class="weui-media-box__desc"><?php echo $ticket['product_price']; ?></h5>
                            <h5 class="weui-media-box__desc"><?php echo $ticket['code']; ?></h5>
                        </div>
                    </a>
                </div>
            </div>
            <?php endforeach; ?>
            <?php endif; ?>
        </div>
    </div>
</div>