<?php $this->layout('template', ['title' => '我的票码', 'server' => $server, 'item' => $item, 'cartCount' => $cartCount, 'scripts' => $scripts]); ?>

<div class="weui-tab">
    <div class="weui-navbar">
        <div class="weui-navbar__item weui-bar__item_on">
            待使用
        </div>
        <div class="weui-navbar__item">
            已使用
        </div>
    </div>
    <div class="weui-tab__panel">
        <div class="weui-tab__panel_page">
            <?php if (empty($ticket_open)): ?>
            <div class="weui-msg">
                <div class="weui-msg__icon-area"><i class="weui-icon-waiting weui-icon_msg"></i></div>
                <div class="weui-msg__text-area">
                    <h2 class="weui-msg__title">您没有待使用的票码</h2>
                </div>
                <div class="weui-msg__opr-area">
                    <p class="weui-btn-area">
                        <a href="/index.html" class="weui-btn weui-btn_primary">继续选购</a>
                    </p>
                </div>
            </div>
            <?php else: ?>
            <?php foreach($ticket_open as $ticket): ?>
            <div class="weui-panel weui-panel_access" style="margin-top:20px;">
                <div class="weui-panel__bd ticket_use">
                    <a href="/ticket/view/<?php echo $ticket['id'] ?>.html" class="weui-media-box weui-media-box_appmsg">
                        <div class="weui-media-box__bd">
                            <h4 class="weui-media-box__title"><?php echo $ticket['product_name']; ?></h4>
                            <h5 class="weui-media-box__desc">价&nbsp;&nbsp;格：<?php echo $ticket['product_price']; ?></h5>
                            <h5 class="weui-media-box__desc">编&nbsp;&nbsp;码：<?php echo $ticket['code']; ?></h5>
                            <h5 class="weui-media-box__desc">购票时间：<?php echo $ticket['create_time']; ?></h5>
                        </div>
                    </a>
                </div>
            </div>
            <?php endforeach; ?>
            <?php endif; ?>
        </div>

        <div class="weui-tab__panel_page" style="display:none">
            <?php if (empty($ticket_close)): ?>
            <div class="weui-msg">
                <div class="weui-msg__icon-area"><i class="weui-icon-waiting weui-icon_msg"></i></div>
                <div class="weui-msg__text-area">
                    <h2 class="weui-msg__title">您没有已使用的票码</h2>
                </div>
                <div class="weui-msg__opr-area">
                    <p class="weui-btn-area">
                        <a href="/index.html" class="weui-btn weui-btn_primary">继续选购</a>
                    </p>
                </div>
            </div>
            <?php else: ?>
            <?php foreach($ticket_close as $ticket): ?>
            <div class="weui-panel weui-panel_access" style="margin-top:20px;">
                <div class="weui-panel__bd ticket_used">
                    <a href="javascript:" class="weui-media-box weui-media-box_appmsg">
                        <div class="weui-media-box__bd">
                            <h4 class="weui-media-box__desc">项目名称：<?php echo $ticket['product_name']; ?></h4>
                            <h5 class="weui-media-box__desc">价&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;格：￥<?php echo $ticket['product_price']; ?></h5>
                            <h5 class="weui-media-box__desc">服务时间：<?php echo $ticket['modifie_time']; ?></h5>
                        </div>
                    </a>
                </div>
            </div>
            <?php endforeach; ?>
            <?php endif; ?>
        </div>
    </div>
</div>