<?php $this->layout('template', ['title' => $product['name'], 'server' => $server, 'item' => $item, 'cartCount' => $cartCount, 'scripts' => $scripts]); ?>


<img src="<?php echo $product['cover']; ?>" alt="<?php echo $product['name']; ?>" style="width:100%;">
<article class="weui-article">
    <form id="product">
        <input type="hidden" name="id" value="<?php echo $product['id']; ?>">
        <h1 style="margin-bottom:0.5em;color:#000;"><b><?php echo $product['name']; ?></b></h1>
        <h3><?php echo $product['abstract']; ?></h3>
        <h3 style="color:#09BB07;">
            ￥<span id="product_price"><?php echo $product['price']; ?></span>
            <span style="padding-left:10px;display:none;">优惠价：￥<span id="product_discount"><?php echo number_format($product['discount'], 2); ?></span></span>
        </h3>

        <?php foreach($product['options'] as $option): ?>
        <div class="weui-cells__title"><?php echo $option['name'] ?></div>
            <?php foreach($option['value'] as $value): ?>
            <label class="radio-inline" style="margin-left:15px;">
                <input type="radio" title="<?php echo $value['add_price']; ?>" name="optionRadio<?php echo $option['id']; ?>" value="<?php echo $value['id']; ?>" <?php echo ($value['is_checked'] ? 'checked' : ''); ?>> <?php echo $value['description'] ?> <?php echo ((int)$value['add_price'] ? '+' . $value['add_price'] : ''); ?>
            </label>
            <?php endforeach; ?>
        <?php endforeach; ?>
        <input type="hidden" name="quantity" value="1">
    </form>

    <div class="weui-cells__title">数量</div>
    <div class="weui-flex" style="margin-left:15px;width:120px;">
        <div class="weui-flex__item">
            <button id="decrease" class="quantity-decrease">-</button>
        </div>
        <div class="weui-flex__item">
            <p class="quantity-number" id="quantity-number">1</p>
            
        </div>
        <div class="weui-flex__item">
            <button id="increase" class="quantity-increase">+</buttona>
        </div>
    </div>

    <section style="margin-top: 20px;">
        <?php echo $product['context']; ?>
    </section>
</article>

<div id="add-cart-success" style="display: none;">
    <div class="weui-mask_transparent"></div>
    <div class="weui-toast">
        <i class="weui-icon-success-no-circle weui-icon_toast"></i>
        <p class="weui-toast__content">成功</p>
    </div>
</div>

